/* ---------------- Custom CSS ----------------- */
.hero-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img {
    height: 60%;
    width: 60%;
    border: 2px solid #000000;
    border-radius: 56% 44% 73% 27% / 45% 68% 32% 55%;
    /* transition: 2000ms ease-in-out; */
    transition: all 1s ease-in-out;
    animation: morph 8s ease-in-out infinite;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    /* animation-name: morph;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal; */
}
.main-background {
    background-color: #e5e5e5;
}


@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}